<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Application Structure View </title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Application Structure View </b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-application_structure"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_application_structure" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-902b18d6db784eb1a06f43eaa7007fa7.png" alt="Application Structure View " usemap="#id-902b18d6db784eb1a06f43eaa7007fa7map"/>
			   <map name="id-902b18d6db784eb1a06f43eaa7007fa7map">
				  		<area shape="rect" coords="169,718,560,773" href="../elements/id-c7678ee3901c48e39f56bc5ddfa2adb6.html"  target="element">
				  						<area shape="rect" coords="490,130,599,185" href="../elements/id-1b551f82ae8446349b74b8b5e2f1b839.html"  target="element">
				  						<area shape="rect" coords="346,238,466,293" href="../elements/id-2655e87bee664ea58bc0922c2bcfeae8.html"  target="element">
				  						<area shape="rect" coords="346,130,466,185" href="../elements/id-25b167206f924fa8bc7636ac20d95ec3.html"  target="element">

				  		        <area shape="rect" coords="322,94,623,311" href="../objects/id-f163ed4e9dc2422482794f20381cb3b7.html" target="element" >
				  						<area shape="rect" coords="70,226,190,281" href="../elements/id-9314d64723724584b11bbbd8fcedec86.html"  target="element">
				  						<area shape="rect" coords="70,118,190,173" href="../elements/id-fedfc911bac94fc89860083054106547.html"  target="element">

				  		        <area shape="rect" coords="46,94,239,311" href="../objects/id-5893722d9dee44caa559d38dd5f101de.html" target="element" >

				          <area shape="rect" coords="10,10,684,332" href="../objects/id-2288d5ada8974f038c4879da1b593379.html" target="element" >
				  				<area shape="rect" coords="826,166,946,221" href="../elements/id-940a7338d0e94086aad0b8c276bf1f1e.html"  target="element">

				          <area shape="rect" coords="730,142,959,263" href="../objects/id-85bf18cf80f040c7a6820f6259e622ca.html" target="element" >
				  				<area shape="rect" coords="322,454,442,509" href="../elements/id-6ad870925857484ba4af8f2dd08626c5.html"  target="element">
				  				<area shape="rect" coords="172,454,292,509" href="../elements/id-8a624b58fb104feabdee3a149cd4edc5.html"  target="element">
				  				<area shape="rect" coords="172,394,310,432" href="../elements/id-64f40366795f49a689ca31c1f4d9dcbb.html"  target="element">
				  				<area shape="rect" coords="322,394,563,431" href="../elements/id-118c7402f3564ebd96b69824907bee30.html"  target="element">

				          <area shape="rect" coords="154,358,575,539" href="../objects/id-2fe12d5f6e6040cfad3ecbb5949c62b1.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">The application structure viewpoint shows the structure of one or more applications or components. This viewpoint is useful in designing or understanding the main structure of applications or components and the associated data; e.g., to break down the structure of the system under construction, or to identify legacy application components that are suitable for migration/integration.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>Stakeholders</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Application and solution architects</td></tr><tr><td>Concerns</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Application structure, consistency and completeness, reduction of complexity</td></tr><tr><td>Purpose</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Designing</td></tr><tr><td>Scope</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Single layer/Multiple aspect</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-2fe12d5f6e6040cfad3ecbb5949c62b1.html" target="element"> Azure China </a> </td>
									           <td> <a href="../objects/id-2fe12d5f6e6040cfad3ecbb5949c62b1.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-118c7402f3564ebd96b69824907bee30.html" target="element"> APIM CN </a> </td>
													    <td> <a href="../elements/id-118c7402f3564ebd96b69824907bee30.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-64f40366795f49a689ca31c1f4d9dcbb.html" target="element"> Wechat Apex </a> </td>
													    <td> <a href="../elements/id-64f40366795f49a689ca31c1f4d9dcbb.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8a624b58fb104feabdee3a149cd4edc5.html" target="element"> AZ Func Replications </a> </td>
													    <td> <a href="../elements/id-8a624b58fb104feabdee3a149cd4edc5.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6ad870925857484ba4af8f2dd08626c5.html" target="element"> AZ Functions </a> </td>
													    <td> <a href="../elements/id-6ad870925857484ba4af8f2dd08626c5.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-85bf18cf80f040c7a6820f6259e622ca.html" target="element"> D1M </a> </td>
									           <td> <a href="../objects/id-85bf18cf80f040c7a6820f6259e622ca.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-940a7338d0e94086aad0b8c276bf1f1e.html" target="element"> D1M Server </a> </td>
													    <td> <a href="../elements/id-940a7338d0e94086aad0b8c276bf1f1e.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-2288d5ada8974f038c4879da1b593379.html" target="element"> Tencent </a> </td>
									           <td> <a href="../objects/id-2288d5ada8974f038c4879da1b593379.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-5893722d9dee44caa559d38dd5f101de.html" target="element"> WeCom Work </a> </td>
											           <td> <a href="../objects/id-5893722d9dee44caa559d38dd5f101de.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-fedfc911bac94fc89860083054106547.html" target="element"> DSW MP </a> </td>
															    <td> <a href="../elements/id-fedfc911bac94fc89860083054106547.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-9314d64723724584b11bbbd8fcedec86.html" target="element"> DSW BFF </a> </td>
															    <td> <a href="../elements/id-9314d64723724584b11bbbd8fcedec86.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
											        <tr>
											           <td> <a href="../objects/id-f163ed4e9dc2422482794f20381cb3b7.html" target="element"> WeChat </a> </td>
											           <td> <a href="../objects/id-f163ed4e9dc2422482794f20381cb3b7.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-25b167206f924fa8bc7636ac20d95ec3.html" target="element"> H5 Wishlist Page </a> </td>
															    <td> <a href="../elements/id-25b167206f924fa8bc7636ac20d95ec3.html" target="element" class="i18n-elementtype-ApplicationInterface">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-2655e87bee664ea58bc0922c2bcfeae8.html" target="element"> Wishlist Webapp </a> </td>
															    <td> <a href="../elements/id-2655e87bee664ea58bc0922c2bcfeae8.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-1b551f82ae8446349b74b8b5e2f1b839.html" target="element"> H5 D1M Page </a> </td>
															    <td> <a href="../elements/id-1b551f82ae8446349b74b8b5e2f1b839.html" target="element" class="i18n-elementtype-ApplicationInterface">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-c7678ee3901c48e39f56bc5ddfa2adb6.html" target="element"> Salesforce </a> </td>
											    <td> <a href="../elements/id-c7678ee3901c48e39f56bc5ddfa2adb6.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-2b179ac2fa3f4967afded3191163f4f3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2b179ac2fa3f4967afded3191163f4f3.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-940a7338d0e94086aad0b8c276bf1f1e.html" target="element"> D1M Server </a> </td>
																				<td> <a href="../elements/id-1b551f82ae8446349b74b8b5e2f1b839.html" target="element"> H5 D1M Page </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																					<tr>
																						<td> <a href="../elements/id-08234704140b4a8d84417c10cf62effb.html" target="element"> Serving </a> </td>
																						<td> <a href="../elements/id-08234704140b4a8d84417c10cf62effb.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-9314d64723724584b11bbbd8fcedec86.html" target="element"> DSW BFF </a> </td>
																						<td> <a href="../elements/id-fedfc911bac94fc89860083054106547.html" target="element"> DSW MP </a> </td>
																					</tr>

													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																					<tr>
																						<td> <a href="../elements/id-510d4fae775646d891e2bb0d80adb506.html" target="element"> Serving </a> </td>
																						<td> <a href="../elements/id-510d4fae775646d891e2bb0d80adb506.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-2655e87bee664ea58bc0922c2bcfeae8.html" target="element"> Wishlist Webapp </a> </td>
																						<td> <a href="../elements/id-25b167206f924fa8bc7636ac20d95ec3.html" target="element"> H5 Wishlist Page </a> </td>
																					</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>