<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>China Architecture Map</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>China Architecture Map</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a731f7b215704f618d1d6a73ce5c7a8b.png" alt="China Architecture Map" usemap="#id-a731f7b215704f618d1d6a73ce5c7a8bmap"/>
			   <map name="id-a731f7b215704f618d1d6a73ce5c7a8bmap">
				  		<area shape="rect" coords="790,82,898,623" href="../views/id-ce7c4d622d52475b8e4b17c87e03384d.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="118,562,767,623" href="../views/id-ec1802b0f8d949908efa14d41d7703e1.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="550,346,767,539" href="../views/id-902b18d6db784eb1a06f43eaa7007fa7.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="550,250,767,323" href="../views/id-017ee646d44a4b67b67cc0d3b6466aed.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="550,154,767,227" href="../views/id-0ccf0e9ad34e49958ccee002a307f573.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="346,346,527,539" href="../views/id-fbd6bf1cde6e4a08ae3b427a239092d3.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="346,250,527,323" href="../views/id-7b6796067503465dbd5172e14255b431.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="346,154,527,227" href="../views/id-5862d04861c44c2c992651266f7488d3.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="118,154,323,539" href="../views/id-627f4d17c878496ea61cc81872c10fc0.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="118,82,767,137" href="../views/id-dad68a9d68c1403893aa81b32e9a212c.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,82,95,623" href="../views/id-544f076a1c2a45b5b49afd7e1e267a25.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,10,898,65" href="../views/id-f0ffa76402a84711b04e89ca76f41d71.html"  target="view">
				      <!-- Other diagram objects -->

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Map View with View References to all the other Views in the model</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../views/id-f0ffa76402a84711b04e89ca76f41d71.html" target="view"> Goal and Principal View </a> </td>
											    <td> <a href="../views/id-f0ffa76402a84711b04e89ca76f41d71.html" target="view" class="i18n-viewpoint-goal_realization"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-544f076a1c2a45b5b49afd7e1e267a25.html" target="view"> Layered View </a> </td>
											    <td> <a href="../views/id-544f076a1c2a45b5b49afd7e1e267a25.html" target="view" class="i18n-viewpoint-layered"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-dad68a9d68c1403893aa81b32e9a212c.html" target="view"> Business Product View </a> </td>
											    <td> <a href="../views/id-dad68a9d68c1403893aa81b32e9a212c.html" target="view" class="i18n-viewpoint-product"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-627f4d17c878496ea61cc81872c10fc0.html" target="view"> Information Structure View </a> </td>
											    <td> <a href="../views/id-627f4d17c878496ea61cc81872c10fc0.html" target="view" class="i18n-viewpoint-information_structure"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-5862d04861c44c2c992651266f7488d3.html" target="view"> Business Function View </a> </td>
											    <td> <a href="../views/id-5862d04861c44c2c992651266f7488d3.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-7b6796067503465dbd5172e14255b431.html" target="view"> Business Process View  </a> </td>
											    <td> <a href="../views/id-7b6796067503465dbd5172e14255b431.html" target="view" class="i18n-viewpoint-strategy"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-fbd6bf1cde6e4a08ae3b427a239092d3.html" target="view"> Application Behaviour View </a> </td>
											    <td> <a href="../views/id-fbd6bf1cde6e4a08ae3b427a239092d3.html" target="view" class="i18n-viewpoint-application_usage"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-0ccf0e9ad34e49958ccee002a307f573.html" target="view"> Organisation Structure View </a> </td>
											    <td> <a href="../views/id-0ccf0e9ad34e49958ccee002a307f573.html" target="view" class="i18n-viewpoint-organization"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-017ee646d44a4b67b67cc0d3b6466aed.html" target="view"> Organisation Tree View </a> </td>
											    <td> <a href="../views/id-017ee646d44a4b67b67cc0d3b6466aed.html" target="view" class="i18n-viewpoint-organization"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-902b18d6db784eb1a06f43eaa7007fa7.html" target="view"> Application Structure View  </a> </td>
											    <td> <a href="../views/id-902b18d6db784eb1a06f43eaa7007fa7.html" target="view" class="i18n-viewpoint-application_structure"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-ec1802b0f8d949908efa14d41d7703e1.html" target="view"> Technical Infrastructure View  </a> </td>
											    <td> <a href="../views/id-ec1802b0f8d949908efa14d41d7703e1.html" target="view" class="i18n-viewpoint-technology_usage"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-ce7c4d622d52475b8e4b17c87e03384d.html" target="view"> Service Realisation View  </a> </td>
											    <td> <a href="../views/id-ce7c4d622d52475b8e4b17c87e03384d.html" target="view" class="i18n-viewpoint-stakeholder"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>